@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

@media (max-width: 768px) {
.header_container {width: 100%; flex-direction: column; jastify-content: space-beyween;}
.footer_container {width: 100%; flex-direction: column; jastify-content: space-beyween;}
.header_links {
	width: Hug (108px);
	height: Hug (20px);
	      }
.footer_links {
	width: Hug (108px);
	height: Hug (20px);
	      }
.subtitle {
	font-family: Anonymous Pro;
	font-size: 32px;
	font-weight: 700;
	line-height: 32px;
	text-align: left;
	  }
.content {display: flex;
    flex-direction: column;
    align-items: center;
	 }
}

a {text-decoration: none; color:black;}

body {background: #F1F1F1;}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 100%;
    padding-top: 24px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#121723;
    width: 100%;
    padding-top: 24px;
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 73%;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 73%;
}

.footer_links {
    list-style: none;
    display:flex;
    font-size: 20px;
    font-weight: 700px;
    line-height: 20px;
    gap: 24px;
}

.header_links{
    list-style: none;
    display:flex;
    font-size: 20px;
    font-weight: 700px;
    line-height: 20px;
    gap: 24px;
}

.footer_links a {
    color: white;
    display:flex;
    text-decoration: none;
}

.footer_p {
    color: #A1A6B4;
    text-align: center;
}

.footer_line {
    border: none;
    border-top: 1px solid #c7c7c7;
    width: 73%;
}

.header_line {
    border: none;
    border-top: 1px solid #c7c7c7;
}

.content {
    display: block;
    width: 73%;
}

.subtitle {
    display: flex;
    align-items: left;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    padding: 24px 0;
}

li {
    display: inline;
    list-style: none;
}

.logo {width: 212.34px;
    height: 63.24px;
    }

.logo2 {
    width: 299.65px;
    height: 22.32px;
}

.main {
    display: flex; 
    justify-content: flex-start; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 72px;
    max-width: 371px;
    font-family: "Anonymous Pro", sans-serif;
    justify-content: space-between; 
    border-radius: 12px;
    background: white;
    margin-bottom: 24px;
}

.text {
    display: block;
    border-radius: 12px;
    max-width: 371px;
    padding-left: 24px;
    gap: 24px;
}

.container__title {
    font-size: 26px;
    font-weight: 700;
}

.container__text {
    font-size: 20px;
    font-weight: 400;
}

.img_sneakers {
    width: 371px;
    height: 254px;
    border-radius: 12px, 12px, 0px, 0px;
}
