@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

a {text-decoration: none; color:black;}

body {background: #F1F1F1;}

.header {
    background: white;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
}

.footer {
    background-color:#121723;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.footer_conteiner {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between; 
    padding-left: 140px;
    padding-right: 140px;
}

.header_container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between; 
    padding: 30px 0 10px;
}

.footer_links {
    list-style: none;
    display:flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700px;
    line-height: 20px;
    gap: 24px;
}

.header_links{
    list-style: none;
    display:flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700px;
    line-height: 20px;
    gap: 24px;
    padding-right: 140px;
}

.footer_links a {
    color: white;
    text-decoration: none;
    justify-content: center;
}

.footer_p {
    color: #A1A6B4;
    text-align: center;
}

.footer_line {
    border: none;
    border-top: 1px solid #c7c7c7;
    margin-bottom: 18px;
    margin-left: 140px;
    margin-right: 140px;
}

.header_line {
    border: none;
    border-top: 1px solid #c7c7c7;
}

.subtitle {
    display: inline-block;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

li {
    display: inline;
    list-style: none;
    margin-right: 12px;
}

.logo {width: 212.34px;
    height: 63.24px;
    margin-left: 140px;
    }

.logo2 {
    width: 299.65px;
    height: 22.32px;
}

.main {
    display: flex; 
    justify-content: space-between; 
    flex-direction: column;
    gap: 25px;
    padding: 0 140px;
}

.big_container {
    width: 1440px;
    height: 110px;
    gap: 24px;
    display: flex;
    align-items: flex-start;
	margin: auto;
    justify-content: space-between; 
    flex-wrap: wrap;

}

.line {
	display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
    width: 100%;
    justify-content: space-between; 
    column-gap: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 72px;
    max-width: 371px;
    font-family: "Anonymous Pro", sans-serif;
    justify-content: space-between; 
    border-radius: 12px;
    background: white;
    margin-bottom: 24px;
}

.text {
    display: block;
    border-radius: 12px;
    max-width: 371px;
    padding-left: 24px;
    gap: 10px;
}

.container__title {
    font-size: 26px;
    font-weight: 700;
}

.container__text {
    font-size: 20px;
    font-weight: 400;
}

.img_sneakers {
    width: 371px;
    height: 254px;
    border-radius: 12px, 12px, 0px, 0px;
}